{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='detail.css')}}">
{% endblock header %}

{% block content %}

{% for l in list %}
<div class="outer-box">
  <div class="box1">
    <label>ユーザー名</label>
    <input type="text" value="{{ l.username }}" class="input" disabled>
  </div>
  <div class="box2">
    <label>ウェブサイト</label>
    <a href="{{ l.hostname }}">{{ l.hostname }}</a>
  </div>
  <div class="box1">
    <label>パスワード</label>
    <input type="password" class="password-input input" value="{{ l.password }}" disabled>
    <input type="checkbox" class="password-check"><label style="font-size: 15px; color: rgb(187, 187, 187);">パスワードを表示する</label>
  </div>
  <div class="box1">
    <label>メモ</label>
    <input type="text" class="input" value="{{ l.text }}" disabled>
  </div>
</div>

<div class="outer-box2">
  <form action="/delete" method="post">
    <button type="submit" name="id" value="{{ l.id }}" class="button">削除</button>
  </form>

  <form action="/update" method="post">
    <button type="submit" name="id" value="{{ l.id }}" class="button">編集</button>
  </form>
</div>

{% endfor %}


<script>
  const passwordInputs = document.querySelectorAll('.password-input');
  const passwordCheckboxes = document.querySelectorAll('.password-check');

  passwordCheckboxes.forEach((checkbox, index) => {
    checkbox.addEventListener('change', function() {
      if (this.checked) {
        passwordInputs[index].setAttribute('type', 'text');
      } else {
        passwordInputs[index].setAttribute('type', 'password');
      }
    });
  });
</script> 



{% endblock content %}